openai
huggingface_hub
python-dotenv
streamlit
PyPDF2
langchain-google-genai
langchain-core
google-generativeai
langchain
SentenceTransformer
langchain_community
FAISS
vectorstores
python<3.5
pip install langchain-community



