openai
huggingface_hub
python-dotenv
streamlit
PyPDF2
langchain-google-genai
langchain-core
google-generativeai
langchain
#SentenceTransformerEmbeddings
langchain_community
#FAISS
#vectorstores
python
#pip==24.2



